# source
darcs /extensions/OpenGLPostProcessEffects    http://openengine.dk/code/extensions/OpenGLPostProcessEffects
darcs-dev /extensions/OpenGLPostProcessEffects    fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLPostProcessEffects
