# source
git /extensions/OpenGLPostProcessEffects        git://github.com/oe-legacy/extensions-OpenGLPostProcessEffects.git
git-dev /extensions/OpenGLPostProcessEffects    git@github.com:oe-legacy/extensions-OpenGLPostProcessEffects.git
